<!DOCTYPE html>
<html><head><title>Dashboard</title></head>
<body>
    <h1>Login Successful!</h1>
    <p>This Python Flask application was deployed as a Docker container on AWS App Runner.</p>
    <p>The entire process was automated using GitHub Actions (CI/CD) and Terraform (IaC).</p>
    <p>I have implemented this with AWS ECS Fargate too.</p>
    <p> Since ALB infront of it was adding cost per hour I thought of reducing cost and try out App Runner.</p>
    <p>Check out  <a href="https://github.com/arkhiVd/aws-ecs-containerized-webapp"> aws-ecs-containerized-webapp</a> for details on implementation with AWS ECS Fargate</p>
    <p>Check out <a href="https://aravindakrishnan.click/"> my portfolio</a> for more projects.</p>
</body></html>